[Unit]
Description=A simple web app
After=network.target

[Service]
Environment=NODE_PORT=3000
Type=simple
User=lcars
ExecStart=/usr/bin/node /home/lcars/.repos/DeployingAppsAtScale/app/index.js
Restart=on-failure

[Install]
WantedBy=multi-user.target